:root {
    --main-color: #f8ddaa;
    --second-color: #606060;
    --main-padding: 60px;
    --main-background: #f6f6f6;
}

::selection {
    color: var(--main-color);
    background-color: var(--second-color);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: capitalize;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Taviraj', serif;
}

.container {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-transform: capitalize;
}


/* phone */

@media(max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading+p {
        font-size: 16px;
        margin: -20px 0 0;
    }
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1360px;
    }
}


/* End Global Rules */

header {}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h3 {
    font-weight: 900;
    color: #efd8bf;
    position: relative;
    right: 190px;
}

header .links {
    position: relative;
}

header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    display: none;
}

header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

header .links .icon span:first-child {
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

header .links .icon span:last-child {
    width: 100%;
}

header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 22222222;
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    right: 100px;
}

header .links ul li a {
    display: block;
    padding: 34px 70px 15px 15px;
    text-decoration: none;
    color: #efd8bf;
    transition: .3s;
    font-weight: 900;
}

header .links ul li a:hover {
    color: rgb(135, 135, 135);
}

@media (max-width:767px) {
    header {}
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    header .links {
        position: relative;
        position: fixed;
        left: 340px;
        top: 20px;
        z-index: 100;
    }
    header .links:hover ul {
        display: block;
    }
    header .links:hover .icon span:nth-child(2) {
        width: 100%;
    }
    header .links .icon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    header .links .icon span {
        background-color: #333;
        margin-bottom: 5px;
        height: 2px;
    }
    header .links .icon span:first-child {
        width: 100%;
    }
    header .links .icon span:nth-child(2) {
        width: 60%;
        transition: .3s;
    }
    header .links .icon span:last-child {
        width: 100%;
    }
    header .links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #f8ddaa;
        min-width: 351px;
        text-align: center;
        position: absolute;
        right: 0;
        top: calc(100% + 10px);
        display: none;
        border-radius: 6px;
        z-index: 1;
    }
    header .links ul::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #f8ddaa transparent;
        position: absolute;
        right: 5px;
        top: -20px;
    }
    header .links ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #333;
        transition: .3s;
    }
    header .links ul li:not(:last-child) a {
        border-bottom: 2px solid #f0ce8e;
    }
}

@media (max-width: 1340px) {
    .logo h3 {
        font-weight: 900;
        color: #ffdd9c;
        position: relative;
        right: 0px;
    }
}

@media (min-width:1340px) {
    .logo h3 {
        font-weight: 900;
        color: #efd8bf;
        position: relative;
        font-size: 30px;
        right: 50px;
    }
}

@media (max-width:766px) {
    header .links {
        position: relative;
        position: fixed;
        left: 660px;
        top: 20px;
        z-index: 100;
    }
}

@media (max-width:720px) {
    header .links {
        position: relative;
        position: fixed;
        left: 600px;
        top: 20px;
        z-index: 100;
    }
}

@media (max-width:660px) {
    header .links {
        position: relative;
        position: fixed;
        left: 550px;
        top: 20px;
        z-index: 100;
    }
}

@media (max-width:610px) {
    header .links {
        position: relative;
        position: fixed;
        left: 500px;
        top: 20px;
        z-index: 100;
    }
}

@media (max-width:560px) {
    header .links {
        position: relative;
        position: fixed;
        left: 450px;
        top: 20px;
        z-index: 100;
    }
}

@media (max-width:510px) {
    header .links {
        position: relative;
        position: fixed;
        left: 340px;
        top: 20px;
        z-index: 100;
    }
}

@media (max-width:330px) {
    header .links {
        position: relative;
        position: fixed;
        left: 275px;
        top: 20px;
        z-index: 100;
    }
}

.bags {
    display: none;
}

.first {
    margin-bottom: 160px;
}

.first .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.first .dis {
    text-align: left;
}

.first .dis .wellcom {
    color: #f0d9c0;
    font-weight: bold;
    font-size: 20px;
}

.first .dis h2 {
    color: var(--second-color);
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 120px;
}

.mohamed {
    display: grid;
    grid-template-columns: 25% 75%;
}

.mohamed img {
    width: 60px;
    border-radius: 50%;
}

.mohamed p:first-child {
    color: #606060;
    font-weight: bold;
    margin-bottom: -13px;
}

.mohamed p:last-child {
    color: #888888;
}

.first .container .img-1 {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    overflow: hidden;
    margin-left: 127px;
}

@keyframes img-1 {
    from {
        transform: translateX(2338px);
        -webkit-transform: translateX(2338px);
        -moz-transform: translateX(2338px);
        -ms-transform: translateX(2338px);
        -o-transform: translateX(2338px);
    }
    to {
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
    }
}

.first .container .img-1 img {
    border-style: none;
    width: 463px;
    box-shadow: 0px 10px 38px -23px;
    transition: .4s;
    -webkit-transition: .9s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    animation-name: img-1;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    height: 100%;
}

.owners {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 25px;
}

.first .container .dis .paragraph .colom {
    margin-bottom: -13px;
    color: #f0d9c0;
}

.dis .owners::before {
    content: "";
    position: absolute;
    background-color: #b1b1b1;
    width: 1px;
    height: 371px;
    margin-left: -40px;
}

.dis .paragraph p {
    margin: 0;
    color: #7a7a7a;
}

.img-1 .first-tee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(43%, 92%);
    background-color: #f9cfa2;
    text-align: center;
    width: 399px;
    z-index: 1;
    -webkit-transform: translate(43%, 92%);
    -moz-transform: translate(43%, 92%);
    -ms-transform: translate(43%, 92%);
    -o-transform: translate(43%, 92%);
    display: none;
}

.img-1 .first-tee h2 {
    color: #606060;
}

.img-1 .first-tee div {
    background-color: #f9bf8a;
    height: 55px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.img-1 .first-tee div p {
    color: #606060;
}

.img-1 .first-tee div p:last-child {
    color: #606060;
}

.img-1 .first-tee div a {
    text-decoration: none;
}

.dis .collection {
    margin-top: 66px;
    background-color: #6c6c6c;
    width: 35%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dis .collection a {
    text-decoration: none;
    color: #ffcda0;
    font-weight: bold;
}

.second {
    margin-bottom: 200px;
}

.second .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.second .back {
    width: 100%;
    background-color: #343434;
    height: 701px;
    position: absolute;
    top: 124px;
    z-index: -1;
}

.second .tow-imgs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 70px;
    justify-content: center;
}

@keyframes tow-imgs {
    to {
        transform: translateY(-32px);
        -webkit-transform: translateY(-32px);
        -moz-transform: translateY(-32px);
        -ms-transform: translateY(-32px);
        -o-transform: translateY(-32px);
    }
}

.second .tow-imgs img {
    width: 300px;
}

.second .tow-imgs img:first-child {
    box-shadow: 0px -4px 30px -11px;
    transition: .4s;
    -webkit-transition: .9s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    animation-name: tow-imgs;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.second .tow-imgs img:last-child {
    box-shadow: 0px 4px 30px -8px;
    transition: .4s;
    -webkit-transition: .9s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    animation-name: tow-imgs1;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes tow-imgs1 {
    to {
        transform: translateY(32px);
        -webkit-transform: translateY(32px);
        -moz-transform: translateY(32px);
        -ms-transform: translateY(32px);
        -o-transform: translateY(32px);
    }
}

.second .tow-imgs .girl {
    width: 450px;
}

.second .title {
    display: grid;
    grid-template-rows: 50px 268px 150px 1fr;
    position: relative;
    top: 153px;
}

.second .title p:first-child {
    color: #ffcda0;
    font-weight: bold;
}

.second .title p:last-of-type {
    color: darkgrey;
    line-height: 26px;
}

.second .title h2 {
    color: #e9e9e9;
    font-weight: bold;
    font-size: 50px;
    word-spacing: 10px;
    line-height: 70px;
}

.second .counters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.second .counters div {
    width: 170px;
    height: 170px;
    border: 1px solid #545454;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.second .counters div:hover {
    transform: translateY(-32px);
    -webkit-transform: translateY(-32px);
    -moz-transform: translateY(-32px);
    -ms-transform: translateY(-32px);
    -o-transform: translateY(-32px);
}

.second .counters div img {
    width: 170px;
}

.owners-2 .mohamed {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 30px;
}

.owners-2 .mohamed img {
    width: 85px;
    border-radius: 1px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.owners-2 .mohamed img:hover {
    transform: scale3d(1.5, 1.5, 1.5);
}

.first .dis .arrival {
    color: var(--second-color);
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 25px;
}

.first .dis .market {
    color: #f0d9c0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -25px;
}

.img-tote {
    display: grid;
    justify-content: center;
    align-content: center;
}

.img-tote img {
    width: 100%;
}

footer {
    margin-bottom: 50px;
    background-color: #343434;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 75% 25%;
    height: 400px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

footer .started {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: flex-start;
    margin-top: 30px;
}

footer .started p:first-child {
    font-weight: bold;
    color: #ffcda0;
}

footer .started a {
    text-decoration: none;
    font-weight: bold;
    color: #f0d9c0;
    background-color: #2c2c2c;
    text-align: center;
    animation-name: contact;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

footer .started a p {
    color: #f0d9c0;
}

footer .started a:hover {
    animation-duration: 0s;
}

@keyframes contact {
    to {
        transform: scale3d(1.3, 1.3, 1.3);
        -webkit-transform: scale3d(30px);
        -moz-transform: scale3d(30px);
        -ms-transform: scale3d(30px);
        -o-transform: scale3d(30px);
    }
}

footer .settings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    color: #f5d7be;
}

footer .settings h4 {
    color: #f9bf8a;
    font-weight: bold;
}

footer .terms {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

footer .terms a {
    color: #b1b1b1;
}

footer .social {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 100px;
}

footer .social a {
    font-size: 39px;
    color: #b1b1b1;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

footer .social a:hover {
    color: #b1b1b1ad;
}
